body {
    width: 100%;
    background-image: url(../img/backimage.jpeg);
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1280px;
    height: 960px;
    margin: 0 auto;
}

.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container h1 {
    font-size: 48px;
}

.container i {
    position: absolute;
    top: 48px;
    right: 32px;
    font-size: 36px;
    cursor: pointer;
}

#control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 960px;
}

#control div {
    cursor: pointer;
}

#rec-start, #rec-stop {
    background: rgb(255, 51, 0);
    color: white;
    width: 180px;
    border-radius: 8px;
    display: none;
}

#rec-start.active, #rec-stop.active{
    display: block;
}

#play-start, #play-stop {
    background: rgb(0, 217, 255);
    color: white;
    width: 180px;
    border-radius: 8px;
    margin-left: 32px;
    display: none;
}

#play-start.active, #play-stop.active {
    display: block;
}

#fix {
    background: rgb(0, 38, 255);
    color: white;
    width: 180px;
    border-radius: 8px;
    margin-left: 32px;
}

#fixed-play {
    background: rgb(119, 0, 255);
    color: white;
    width: 180px;
    border-radius: 8px;
    margin-left: 32px;
}

#control div p {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
}

#images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 480px;
    font-size: 20px;
}

#images div {
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 8px 0;
    cursor: pointer;
}

#images div:hover {
    border: 2px solid red;
}

#images img {
    width: 144px;
    height: 144px;
}

#images p {
    text-align: center;
    margin: 0;
}

#kick.played, #snare.played, #c-hihat.played, #o-hihat.played, #tom1.played, #tom2.played, #tom3.played, #crash.played {
    animation: highlight .2s;
}

@keyframes highlight {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: transparent;
    }
}

#storage {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    width: 960px;
}

#save {
    background: rgb(0, 255, 64);
    color: white;
    width: 180px;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
}

#tempo {
    background: rgb(255, 174, 0);
    width: 180px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#tempo p {
    color: white;
    margin-top: 22px;
    margin-left: 16px;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

#tempo select {
    background: rgb(255, 174, 0);
    border: 1px solid white;
    color: white;
    height: 24px;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
}

#tempo #choice-tempo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tempo #choice-tempo p {
    margin: 0;
}

#tempo #control-tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tempo #control-tempo div {
    display: flex;
    justify-content: center;
}

#tempo #control-tempo span {
    color: white;
    padding-left: 8px;
}



#tempo #control-tempo p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 8px;
    border: 1px solid white;
}

#tempo #control-tempo p:hover {
    box-shadow: 0 2px 2px black;
}

#tempo #control-tempo p:active {
    transform: translateY(2px);
    box-shadow: none;
}

#tempo #control-tempo div + div {
    margin-top: 4px;
}

#tempo #control-tempo p + p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
}

#clear {
    background: rgb(240, 236, 1);
    color: white;
    width: 180px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
}

#save p, #clear p {
    text-align: center;
    line-height: 24px;
    height: 24px;
}

.btn {
    opacity: .8;
}

.btn:hover {
    opacity: 1;
    box-shadow: 0 4px 4px black;
}

.btn:active:not(#tempo) {
    transform: translateY(4px);
    box-shadow: none;
}

#tempo-text {
    position: fixed;
    top: 78%;
    left: 47%;
    font-size: 24px;
}

#modal {
    position: fixed;
    top: calc(50% - 540px / 2);
    left: calc(50% - 960px / 2);
    width: 960px;
    height: 540px;
    border-radius: 64px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    z-index: 1;
    transition: opacity .3s;
    pointer-events: none;
}

#modal.appear {
    opacity: 1;
}

#modal div {
    width: 800px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#modal h2 {
    text-align: center;
    font-size: 40px;
    margin: 32px 0;
}

#modal ol {
    list-style: decimal;
    font-size: 20px;
}

#modal li span {
    color: red;
    text-decoration: underline;
}

#modal div ol li + li {
    margin-top: 16px;
}

#modal div i {
    text-align: center;
    font-size: 36px;
    margin-top: 32px;
    cursor: pointer;
    pointer-events: initial;
}